repos:
  - repo: local
    hooks:
      - id: run-linter-formatter
        name: Run linter and formatter
        language: system
        pass_filenames: false
        entry: zsh -c 'pnpm lint && pnpm check'
