@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@skeletonlabs/skeleton';

@import '@skeletonlabs/skeleton/optional/presets';

/* Add your theme import for your theme: "custom-theme" here */
@import '../custom-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@font-face {
  font-family: Santanelli;
  src: url('/fonts/Santanelli.otf') format('opentype');
}
@font-face {
  font-family: Library3am;
  src: url('/fonts/Library3am.otf') format('opentype');
}
* {
  min-width: none;
}
:root {
  --sk-header-height: 56px;
}

html,
body {
  @apply h-full overflow-hidden;
}
@media print {
  body,
  html,
  .btb-layout,
  #appShell {
    height: unset;
    overflow: unset;
  }
  div {
    break-inside: avoid;
  }
  #page {
    scrollbar-gutter: unset !important;
  }
}

#appShell {
  overflow: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

.ks-skill-icon-wrapper > .ks-banner-logo > svg {
  width: 100%;
  height: 100%;
}

.ks-skill-icon-wrapper:not(.rotated) > .ks-banner-logo {
  animation: rotate-anticlockwise 1s ease-in-out forwards;
}
.ks-skill-icon-wrapper:not(.rotated) > .ks-banner-content {
  animation: rotate-clockwise 1s ease-in-out backwards;
}
.ks-skill-icon-wrapper:not(.rotated):not(.logo-only) > .ks-banner-logo {
  animation:
    rotate-anticlockwise 1s ease-in-out forwards,
    disappearing 1s ease-in-out forwards;
}
.ks-skill-icon-wrapper:not(.rotated):not(.logo-only) > .ks-banner-content {
  animation:
    rotate-anticlockwise 1s ease-in-out forwards,
    appearing 1s ease-in-out forwards;
}
.rotated > .ks-banner-logo {
  animation: rotate-clockwise 1s ease-in-out forwards;
}
.rotated:not(.logo-only) > .ks-banner-logo {
  animation:
    rotate-clockwise 1s ease-in-out forwards,
    appearing 1s ease-in-out forwards;
}
.rotated > .ks-banner-content {
  animation: rotate-anticlockwise 1s ease-in-out backwards;
}
.rotated:not(.logo-only) > .ks-banner-content {
  animation:
    rotate-clockwise 1s ease-in-out forwards,
    disappearing 1s ease-in-out forwards;
}
.ks-banner-logo > svg {
  flex-grow: 1;
  height: 100%;
}
@keyframes rotate-anticlockwise {
  0% {
    rotate: y 0deg;
  }
  50% {
    rotate: y 180deg;
  }
  100% {
    rotate: y 360deg;
  }
}
@keyframes disappearing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-clockwise {
  0% {
    rotate: y 360deg;
  }
  50% {
    rotate: y 180deg;
  }
  100% {
    rotate: y 0deg;
  }
}

.progress-bar-meter {
  background-color: var(--progress-bar-colour);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

/* :root::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
@media (prefers-reduced-motion: no-preference) {
  :root::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  :root::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }
} */

.app-container {
  display: grid;
}

@media (width < 64rem) {
  .app-container {
    height: 100%;
    overflow-y: auto;
    grid-template-areas: 'header' 'main' 'footer';
  }
  #sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
  }
}

@media (width >= 64rem) {
  .app-container {
    grid-template-areas: 'sidebar main' 'sidebar footer';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }
}

#header {
  grid-area: header;
}

#sidebar {
  z-index: 1;
  grid-area: sidebar;
  #sidebar-panel[data-open='true'] {
    .sidebar-items {
      @apply items-start;
    }
    .sidebar-item-container {
      @apply w-full;
    }
  }
  #sidebar-panel[data-open='false'] {
    .sidebar-items {
      @apply items-center;
    }
  }
  @media (width < 64rem) {
    &.opened {
      transform: translateX(0);
    }
    top: 0;
    right: 0;
    transform: translateX(-100%);
    height: 100vh;
    transition: transform 0.3s ease-in-out;
  }
}

#main {
  grid-area: main;
  overflow-y: auto;
}

#footer {
  grid-area: footer;
}
