[data-theme='custom-theme'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: bold;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-500);
  --anchor-font-color-dark: var(--color-primary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.25rem;
  --radius-container: 0.25rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(92.9% 0.02 196.73deg);
  --color-primary-100: oklch(84.75% 0.04 196.35deg);
  --color-primary-200: oklch(76.85% 0.06 195.87deg);
  --color-primary-300: oklch(68.9% 0.08 195.41deg);
  --color-primary-400: oklch(61.51% 0.09 194.99deg);
  --color-primary-500: oklch(54.31% 0.09 194.76deg);
  --color-primary-600: oklch(50.3% 0.09 194.76deg);
  --color-primary-700: oklch(46.2% 0.08 194.76deg);
  --color-primary-800: oklch(42.01% 0.07 194.76deg);
  --color-primary-900: oklch(37.71% 0.06 194.76deg);
  --color-primary-950: oklch(33.29% 0.06 194.76deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(92.31% 0.02 245.07deg);
  --color-secondary-100: oklch(83.27% 0.04 246.94deg);
  --color-secondary-200: oklch(74.34% 0.05 245.97deg);
  --color-secondary-300: oklch(65.09% 0.08 247.27deg);
  --color-secondary-400: oklch(56.05% 0.1 247.72deg);
  --color-secondary-500: oklch(46.97% 0.12 250.51deg);
  --color-secondary-600: oklch(43.67% 0.11 249.83deg);
  --color-secondary-700: oklch(40.13% 0.1 250.29deg);
  --color-secondary-800: oklch(36.72% 0.09 249.72deg);
  --color-secondary-900: oklch(33.01% 0.08 250.36deg);
  --color-secondary-950: oklch(29.4% 0.06 249.14deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-light);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(93% 0.01 318.84deg);
  --color-tertiary-100: oklch(85.08% 0.03 319.15deg);
  --color-tertiary-200: oklch(76.93% 0.05 318.01deg);
  --color-tertiary-300: oklch(68.68% 0.06 319.11deg);
  --color-tertiary-400: oklch(60.24% 0.08 318.36deg);
  --color-tertiary-500: oklch(51.79% 0.1 318.46deg);
  --color-tertiary-600: oklch(47.98% 0.1 318.36deg);
  --color-tertiary-700: oklch(44.23% 0.08 318.74deg);
  --color-tertiary-800: oklch(40.14% 0.08 317.66deg);
  --color-tertiary-900: oklch(36.21% 0.07 318.03deg);
  --color-tertiary-950: oklch(32.02% 0.06 317.79deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(94.08% 0.02 192.91deg);
  --color-success-100: oklch(87.39% 0.04 192.69deg);
  --color-success-200: oklch(80.64% 0.06 193.38deg);
  --color-success-300: oklch(74.23% 0.08 193.5deg);
  --color-success-400: oklch(67.83% 0.09 193.36deg);
  --color-success-500: oklch(61.99% 0.1 192.29deg);
  --color-success-600: oklch(57.23% 0.09 192.96deg);
  --color-success-700: oklch(52.65% 0.08 192.75deg);
  --color-success-800: oklch(47.66% 0.08 192.47deg);
  --color-success-900: oklch(42.85% 0.07 192.12deg);
  --color-success-950: oklch(37.61% 0.06 193.27deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-light);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(97.07% 0.04 90.63deg);
  --color-warning-100: oklch(93.8% 0.08 89.98deg);
  --color-warning-200: oklch(90.72% 0.12 89.52deg);
  --color-warning-300: oklch(87.88% 0.15 88.13deg);
  --color-warning-400: oklch(85.28% 0.17 85.56deg);
  --color-warning-500: oklch(82.9% 0.17 81.03deg);
  --color-warning-600: oklch(76.47% 0.16 81.16deg);
  --color-warning-700: oklch(69.91% 0.14 81.33deg);
  --color-warning-800: oklch(63.38% 0.13 82.25deg);
  --color-warning-900: oklch(56.48% 0.12 82.64deg);
  --color-warning-950: oklch(49.35% 0.1 83.17deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(94.38% 0.03 23.42deg);
  --color-error-100: oklch(88.16% 0.06 23.64deg);
  --color-error-200: oklch(82.17% 0.09 24.25deg);
  --color-error-300: oklch(76.65% 0.13 25.14deg);
  --color-error-400: oklch(71.53% 0.16 26.36deg);
  --color-error-500: oklch(67.1% 0.19 27.81deg);
  --color-error-600: oklch(62.01% 0.18 27.83deg);
  --color-error-700: oklch(56.81% 0.16 27.86deg);
  --color-error-800: oklch(51.36% 0.14 27.48deg);
  --color-error-900: oklch(45.89% 0.13 27.46deg);
  --color-error-950: oklch(40.27% 0.11 27.44deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(92.76% 0.01 264.6deg);
  --color-surface-100: oklch(84.37% 0.01 259.84deg);
  --color-surface-200: oklch(75.65% 0.02 265.96deg);
  --color-surface-300: oklch(66.82% 0.03 263.28deg);
  --color-surface-400: oklch(57.57% 0.04 265.95deg);
  --color-surface-500: oklch(48.12% 0.05 264.01deg);
  --color-surface-600: oklch(44.61% 0.04 265.53deg);
  --color-surface-700: oklch(41.26% 0.04 264.9deg);
  --color-surface-800: oklch(37.47% 0.03 264.05deg);
  --color-surface-900: oklch(33.97% 0.03 262.89deg);
  --color-surface-950: oklch(30.11% 0.03 265.51deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-light);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
